// colours
$dusk-blue: #2d57a2;
$sickly-yellow: #bcd131;
$orangey-yellow: #f5a623;
$gray: #4a4a4a;

// fonts
$primary: "Stolzl";
$secondary: "Fourth";

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

$bodyPadding: 130px;
