header#header-style-1 {
  .torque-header-content-wrapper {
    position: relative;
    z-index: 10;
    padding-left: $bodyPadding;
    padding-right: $bodyPadding;

    .torque-header-burger-menu-wrapper {
      @include respond-to(desktop) {
        display: none;
      }
    }

    .torque-header-menu-items-inline-wrapper {
      @include respond-to-max(desktop) {
        display: none;
      }

      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;

      .torque-menu-item-wrapper {
        margin: 0 10px;
      }
    }
  }

  .torque-header-menu-items-mobile {
    @include respond-to(desktop) {
      display: none;
    }

    z-index: 5;
    padding-top: 120px;
    padding-bottom: 40px;

    background-color: white;

    .torque-menu-item-wrapper {
      margin: 20px 0;
    }
  }

  .torque-menu-item {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

    color: $gray;

    &.active {
      font-family: $secondary;

      color: $orangey-yellow;
    }
  }
}
