@font-face {
  font-family: Fourth;
  src: url("../statics/fonts/Fourth-Black.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
