/*
@font-face {
  font-family: Example;
  src: url('../../statics/fonts/Example/Example.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
