@import "fonts";
@import "../partials/variables";

body {
  font-family: $primary;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $gray;

  @include respond-to(tablet) {
    font-size: 18px;
  }
}

h1 {
  font-family: $primary;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.44px;

  @include respond-to(tablet) {
    font-size: 52px;
    letter-spacing: 0.7px;
  }

  @include respond-to(desktop) {
    font-size: 72px;
    letter-spacing: 1px;
  }
}

h2 {
  font-family: $primary;
  font-size: 30px;
  font-weight: 300;
  line-height: normal;

  @include respond-to(tablet) {
    font-size: 34px;
  }
}

h3 {
  font-family: $primary;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  @include respond-to(tablet) {
    font-size: 34px;
  }
}

h4 {
  font-family: $primary;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  @include respond-to(tablet) {
    font-size: 26px;
  }

  @include respond-to(desktop) {
    font-size: 32px;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

em {
  font-family: $secondary;
  font-weight: bold;
  font-size: 1.4em;
}

button {
  border: 2px solid white;
  padding: 10px;

  background-color: transparent;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;

  outline: none;
}

.white {
  color: white;
}

.gray {
  color: $gray;
}

.green {
  color: $sickly-yellow;
}

.yellow {
  color: $orangey-yellow;
}

.blue {
  color: $dusk-blue;
}
