@import "fonts";
@import "../partials/variables";

body {
  font-family: $primary;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $gray;
}

h1 {
  font-family: $primary;
  font-size: 52px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.52;
  letter-spacing: normal;
}

h2 {
  font-family: $primary;
  font-size: 50px;
  font-weight: 300;
  line-height: 0.8;
}

h3 {
  font-family: $primary;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
}

a {
  cursor: pointer;
  text-decoration: none;
}

em {
  font-family: $secondary;
  font-weight: bold;
}

button {
  border: 2px solid white;
  padding: 10px;

  background-color: transparent;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;

  outline: none;
}

.white {
  color: white;
}

.gray {
  color: $gray;
}

.green {
  color: $sickly-yellow;
}

.yellow {
  color: $orangey-yellow;
}

.blue {
  color: $dusk-blue;
}
