.hero {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 90vh;
  max-height: 300px;
  padding: 10px $bodyPadding;
  padding-right: 10%;
  box-sizing: border-box;

  background-size: cover;
  text-align: left;

  @include respond-to(tablet) {
    padding: 60px $bodyPadding;
    text-align: right;
    max-height: none;
  }

  @include respond-to(desktop) {
    padding: 80px $bodyPadding;
  }

  h1 {
    margin: 0;
    color: $gray;
    text-transform: uppercase;
    box-sizing: border-box;
  }
}
