.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding-right: 10%;

  background-size: cover;

  img.logo-white {
    width: 60%;
    height: auto;
    max-height: 30%;
    object-fit: contain;
  }

  .tagline {
    width: 45%;
    border-left: 4px solid white;
    padding: 20px 30px;
    padding-right: 0;
    color: white;
    text-transform: uppercase;
  }
}
