.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 20px $bodyPadding;
  padding-right: 10%;

  background-size: cover;

  @include respond-to(tablet) {
    padding: 20px 20vw 20px $bodyPadding;
  }

  img.logo-white {
    width: 100%;
    height: auto;
    max-height: 30%;
    object-fit: contain;

    @include respond-to(desktop) {
      width: 60%;
    }
  }

  .tagline {
    width: 100%;
    border-left: 4px solid white;
    padding: 20px 30px;
    padding-right: 0;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;

    @include respond-to-max(tablet) {
      font-size: 24px;
    }

    @include respond-to(tablet) {
      width: 80%;
      box-sizing: content-box;
    }

    @include respond-to(desktop) {
      width: 45%;
    }
  }
}
