.text-and-image-section {
  height: 600px;
  color: white;

  .content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: $bodyPadding;
    padding-right: 5vw;
    height: 100%;

    h3 {
      margin-bottom: 0;
    }

    .subtitle {
      font-size: 1.1em;
    }

    .content {
      margin-top: 30px;
    }

    button {
      margin-top: 20px;
    }
  }

  img.image {
    height: 100%;
    object-fit: cover;
  }

  &.right {
    .content-section {
      float: right;
      padding-left: 5vw;
      padding-right: $bodyPadding;
    }
  }
}
