.text-and-image-section {
  position: relative;
  color: white;

  img.image {
    display: block;
    width: 100%;
    height: auto;
    max-height: 730px;
    object-fit: cover;
  }

  .overlay {
    @include respond-to-max(desktop) {
      display: none;
    }

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }

  .content-section {
    padding: 20px $bodyPadding;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    @include respond-to(tablet) {
      padding: 50px 130px;
    }

    @include respond-to(desktop) {
      position: absolute;
      bottom: 100px;
      left: 0;
      padding: 0;
      padding-left: 2 * $bodyPadding;
      width: 50%;
      height: auto;

      background-color: transparent !important;
    }

    h3 {
      margin: 0;
    }

    .subtitle {
      font-size: 1.1em;
      font-weight: 300;
    }

    .content {
      margin-top: 30px;
    }

    button {
      margin-top: 20px;
    }
  }

  &.right {
    .content-section {
      @include respond-to(desktop) {
        left: 50%;
        padding-left: 0;
        padding-right: 2 * $bodyPadding;
      }
    }
  }
}
