footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px $bodyPadding;
  box-sizing: border-box;

  background-color: $dusk-blue;
  color: white;

  @include respond-to(desktop) {
    flex-direction: row;
    padding: 80px $bodyPadding;
  }

  h3 {
    margin-bottom: 40px;

    @include respond-to(desktop) {
      margin-top: 0;
    }
  }

  .footer-img-wrapper {
    width: 100%;
    max-width: 240px;

    @include respond-to(desktop) {
      width: 33%;
    }

    img {
      width: 100%;
    }
  }

  .footer-contacts-wrapper {
    width: 100%;
    box-sizing: border-box;

    @include respond-to(desktop) {
      flex-grow: 1;
      padding-left: 5%;
      width: 66%;
    }

    .footer-contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .footer-contact {
        margin-bottom: 30px;
        width: 100%;
        box-sizing: border-box;

        @include respond-to(tablet) {
          padding-right: 30px;
          width: 50%;
        }

        @include respond-to(desktop) {
          width: 33%;
        }

        .footer-contact-field {
          margin: 0;
          padding-bottom: 2px;

          &.role {
            margin-bottom: 20px;

            text-transform: uppercase;
          }
        }
      }
    }
  }

  p {
    word-wrap: break-word;
    padding: 2px 0;
  }
}
